body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    padding: 10px 0 10px 0;
}

h2{
    text-align: center;
}

small{
    margin-left: 5px;
    color: red;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.lent-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    margin: 20px auto;
}

.lent-button.disabled{
    cursor: not-allowed;
}

@media (min-width: 600px) {
    .form-group {
        flex-direction: row;
        align-items: center;
    }

    .form-group label {
        margin-right: 10px;
    }
}